#**DATATYPES AND STRUCTURES**

##**THEORY:**

**1. What are data structures, and why are they important?**
  - Data structures are ways of organizing, storing, and managing data in a computer so that it can be used efficiently.
  Eg: List [1, 2, 3],Dictionary {"name": "Pinky"}, Set {1, 2, 3} etc.
  - Importance:
    - Data structures are organized ways to store and manage data, making programs faster, more efficient, and easier to build. They are essential for solving problems, handling large data, and performing tasks like searching, sorting, and storing information effectively.

**2. Explain the difference between mutable and immutable data types with examples.**
-  Mutable:
  - Can be changed after creation.
  - Can modify their content (add, remove, or update elements) without changing the object’s identity (i.e., memory location stays the same).
Eg: list, dict, set


```
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

```

- Immutable:
   - Cannot be changed after creation.
   - Any operation that seems to change the object actually creates a new object in memory.

Eg: int, float, str, tuple


```
my_str = "hello"
my_str = my_str + " world"  
print(my_str)  # Output: "hello world"
# Creates a new string,the original "Hello" string remains unchanged
```

**3.What are the main differences between lists and tuples in Python?**
- List in Python:

1) Mutable: You can change, add, or remove elements.

2) Syntax: Defined using square brackets - [ ]

3) Slower than tuples because they are dynamic.

4) Uses more memory.

5) Has many built-in methods like .append(), .remove(), .sort(), etc.

6) Best used when data can change.


- Tuple in Python:


1) Immutable: Once created, elements cannot be changed.

2) Syntax: Defined using round brackets – ( )

3) Faster than lists because they’re fixed.

4) Uses less memory.

5) Has fewer built-in methods (only like .count() and .index()).

6) Best used when data should remain constant.

**4.Describe how dictionaries store data.**
- A dictionary in Python is a built-in data structure that stores data in the form of key-value pairs. Each value is stored with a unique key, which is used to access that value. It works just like a real-life dictionary, where you look up a word (key) to find its meaning (value).
- Eg: in {"name": "Pinky", "age": 24}, "name" and "age" are keys, and "Pinky" and 24 are their corresponding values.
- Dictionaries use a special method called hashing to store keys in a way that makes finding values very fast. Keys in a dictionary must be unique and cannot be changed (they must be immutable types like strings, numbers, or tuples), while values can be of any data type. Dictionaries are very useful when you need to quickly look up information or associate one piece of data with another.

**5.Why might you use a set instead of a list in Python?**
- You use a set when you need to store unique items only and don't care about the order.
- Sets automatically remove duplicates and allow for fast checking if an item exists.
- They are also faster than lists for membership tests.


```
my_list = [1, 2, 2, 3]
my_set = set(my_list)  # {1, 2, 3}

```

**6.What is a string in Python, and how is it different from a list?**
- A string is a sequence of characters, like "Hello", and is immutable (cannot be changed).
- A list is a sequence of elements (numbers, strings, etc.) and is mutable (can be changed).


```
my_str = "hello"
my_list = ['h', 'e', 'l', 'l', 'o']

# Strings can't be changed directly
# my_str[0] = 'H' →Error

# Lists can be changed
my_list[0] = 'H'  

```

**7.How do tuples ensure data integrity in Python?**
- Tuples are immutable, meaning once you create them, you can’t change, add, or remove elements.
- This protects the data from accidental changes, ensuring its safety and integrity, especially when passing it between functions or storing fixed information.
- user_data = ("Pinky", 24)  # Cannot be changed accidentally

**8. What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table is a data structure that stores data using a key → hash → value system.
- In Python, a dictionary is implemented using a hash table.
When you access my_dict["name"], Python uses a hash function to find where "name" is stored and returns its value quickly.
- Benefits: Fast lookups, inserts, and deletions — usually in constant time O(1).

**9.Can lists contain different data types in Python?**
- Yes, in Python, a list can contain elements of different data types. This means a list can hold integers, strings, floats, booleans, or even other lists and objects all at once. This flexibility makes lists very powerful and easy to use for mixed data storage.


```
my_list = [10, "hello", 3.14, True]

```

**10. Why are strings immutable in Python?**
- Strings are immutable in Python to make them secure, memory-efficient, and thread-safe. Once a string is created, it cannot be changed. If you try to modify it, Python creates a new string in memory. This helps avoid unexpected changes, especially when the same string is used in multiple places in a program.

**11.What advantages do dictionaries offer over lists for certain tasks?**
- Dictionaries provide fast access to values using keys, while lists require searching through indexes. If you want to store and look up data by a specific name or label (like a username, ID, etc.), dictionaries are much faster and more organized than lists. They are ideal for mapping one value to another.


```
students = {"Pinky": 90, "Rahul": 85}

```

**12.When is a tuple better than a list?**
- Use a tuple when your data should not change like a fixed set of values such as coordinates, dates, or settings. Tuples are also faster and use less memory than lists. For example, you can use a tuple to store a user's birthdate since it won’t change.


```
birthdate = (1999, 12, 15)

```

**13. How do sets handle duplicate values in Python?**
- Sets automatically remove duplicate values. When you add items to a set, Python only keeps unique ones. This makes sets perfect for storing non-repeating data like unique names, IDs, or words.


```
my_set = {1, 2, 2, 3}  # Output: {1, 2, 3}

```

**14.  How does the “in” keyword work differently for lists and dictionaries?**
- In lists, the in keyword checks whether a value exists in the list. In dictionaries, in checks if a key exists,not the value. So if you write x in my_dict, Python looks for x among the keys, not the values.


```
my_list = [1, 2, 3]
print(2 in my_list)  #True (value check)

my_dict = {"a": 1, "b": 2}
print("a" in my_dict)  #True (key check)
print(2 in my_dict)    #False (values aren't checked)

```

**15.Can you modify the elements of a tuple? Why or why not?**
- No, you cannot modify elements of a tuple because tuples are immutable. Once a tuple is created, its contents are fixed and cannot be changed, added to, or removed. This immutability ensures data safety, especially when passing data that should not be altered.

**16.What is a nested dictionary? Give an example.**
- A nested dictionary is a dictionary where values are themselves dictionaries. This structure is used to store hierarchical or structured data, like student records, JSON data, or configuration files.


```
student = {"name": "Pinky",
  "marks": {"math": 90, "science": 88}}
print(student["marks"]["science"])  # Output: 88

```

**17.What is the time complexity of accessing elements in a dictionary?**
- Accessing elements in a dictionary has an average time complexity of O(1) — constant time — due to its hash table implementation. This means you can retrieve values very quickly using keys, regardless of the dictionary’s size.

**18.When are lists preferred over dictionaries?**
- Lists are preferred when:

 - You need to maintain order of items

  - You don’t need key-value mapping

  - You want to store simple sequences like numbers or names

  - You want to use indexing (e.g., list[0]) to access elements

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Before Python 3.7, dictionaries were unordered, meaning items had no fixed position you couldn’t rely on the insertion order. From Python 3.7+, dictionaries preserve insertion order, but they are still accessed by key, not position, so their retrieval depends on key-based hashing, not order.

**20. Difference between a list and a dictionary in terms of data retrieval.**
- In a list, you  can retrieve data using index positions (e.g., list[0])

- In a dictionary, you can retrieve data using keys (e.g., dict["name"])

---> Dictionaries are better when you need label-based access, and lists are better when you need position-based access.

##**PRACTICAL QUESTIONS:**

**1. Write a code to create a string with your name and print it.**

In [1]:
name = "Pinky"
print(name)

Pinky

**2. Write a code to find the length of the string "Hello World".**

In [2]:
text = "Hello World"
print(len(text))

11

**3.Write a code to slice the first 3 characters from the string "Python Programming".**

In [4]:
string1 = "Python Programming"
print(string1[:3])

Pyt

**4.Write a code to convert the string "hello" to uppercase.**

In [5]:
word = "hello"
print(word.upper())

HELLO

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [7]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

**6.Write a code to create a list with numbers 1 to 5 and print it.**

In [8]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

**7.Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [9]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

**8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

**9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [11]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Index starts from 0

b

**10.Write a code to reverse the list [10, 20, 30, 40, 50].**

In [12]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

**11.Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [13]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

**12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [14]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

**13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [15]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [16]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

**15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [17]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [18]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [19]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

**18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [20]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

**19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [21]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

**20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [22]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

**21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [24]:
my_dict = {"name": "Pinky", "age": 24, "city": "bengaluru"}
print(my_dict)

{'name': 'Pinky', 'age': 24, 'city': 'bengaluru'}

**22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [27]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [28]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [29]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

**25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [30]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [31]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 10, 'b': 20}

**27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [33]:
numbers = [45, 12, 89, 23, 67]
numbers.sort()
print(numbers)

[12, 23, 45, 67, 89]

**28. Write a code to create a list with strings and print the element at the third index.**

In [34]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

**29.Write a code to combine two dictionaries into one and print the result.**

In [36]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30.Write a code to convert a list of strings into a set.**

In [37]:
fruits = ["apple", "banana", "apple", "mango"]
fruit_set = set(fruits)
print(fruit_set)

{'banana', 'mango', 'apple'}